// Add style for the header component
header {
  display: flex;
  padding-inline: 16px;
  padding-block: 8px;
  color: white;
  background-color: #555;
  align-items: center;
  justify-content: space-between;
  font-size: 2.0rem;}
